
.Display{
    top: 8vh;
    left:25vw;
    width: 50vw;
    height: 30vh;
    position: absolute;
    line-height: 0;
    font-size: medium;
    background-color: black;
    padding: 20px;

    
}

.weather-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}